.section {
  padding: 4rem 0;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #f6f6f6;
  text-align: center;
}

@media (max-width: 768px) {
  .section {
    padding: 2rem 0;
  }
  
  .sectionTitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}